<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="MyConnectionString" connectionString="Data Source=ZAIB\SQLEXPRESS01;Initial Catalog=OGDCL;Integrated Security=True;"
   providerName="System.Data.SqlClient" />
  <add name="OGDCL.Properties.Settings.OGDCLConnectionString" connectionString="Data Source=ZAIB\SQLEXPRESS01;Initial Catalog=OGDCL;Integrated Security=True;Encrypt=False"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>
